<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categories Admin Panel</title>
    <link
      rel="stylesheet"
      href="/admin/bootstrap-5.0.2-dist//css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/admin/style/style.css" />
  </head>

  <body>
    <div class="global-box">
      <%- include("portials/sidebar") %>
      <div class="main-box">
        <div class="header">
          <%- include("portials/header-top") %>
          <div class="header-bottom d-flex justify-content-end gap-5 zIndex">
            <form class="d-flex justify-content-between gap-4" action="#">
              <input type="search" name="" id="" class="form-control fs-4" />
              <button class="btn btn-info fs-4">Search</button>
            </form>
            <a href="#" class="btn btn-primary fs-4 text-decoration-none"
              >Add News</a
            >
          </div>
        </div>
        <main class="settings"></main>
      </div>
    </div>

    <script src="/admin/bootstrap-5.0.2-dist//js/bootstrap.bundle.min.js"></script>
    <script src="/admin/script.js"></script>
  </body>
</html>
