<div class="sidebar">
  <h2 class="text-center fs-1 mb-5 sidebar-title">Admin Panel</h2>
  <ul class="sidebar-links">
    <li class="w-100 btn fs-3 sidebar-links__link">
      <a href="/admin/categories">
        <p>Categories</p>
        <svg
          class="text-white mt-3"
          width="7"
          height="11"
          viewBox="0 0 7 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.636364 0.0932203L0.083004 0.565537C-0.027668 0.68983 -0.027668 0.888701 0.083004 0.988136L5.09091 5.48757L0.083004 10.0119C-0.027668 10.1113 -0.027668 10.3102 0.083004 10.4345L0.636364 10.9068C0.774704 11.0311 0.968379 11.0311 1.10672 10.9068L6.917 5.7113C7.02767 5.58701 7.02767 5.41299 6.917 5.2887L1.10672 0.0932203C0.968379 -0.0310734 0.774704 -0.0310734 0.636364 0.0932203Z"
            fill="white"
          />
        </svg>
      </a>
    </li>
    <li class="w-100 btn fs-3 sidebar-links__link">
      <a href="/admin/news">
        <p>News</p>
        <svg
          class="text-white mt-3"
          width="7"
          height="11"
          viewBox="0 0 7 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.636364 0.0932203L0.083004 0.565537C-0.027668 0.68983 -0.027668 0.888701 0.083004 0.988136L5.09091 5.48757L0.083004 10.0119C-0.027668 10.1113 -0.027668 10.3102 0.083004 10.4345L0.636364 10.9068C0.774704 11.0311 0.968379 11.0311 1.10672 10.9068L6.917 5.7113C7.02767 5.58701 7.02767 5.41299 6.917 5.2887L1.10672 0.0932203C0.968379 -0.0310734 0.774704 -0.0310734 0.636364 0.0932203Z"
            fill="white"
          />
        </svg>
      </a>
    </li>
    <li class="w-100 btn fs-3 sidebar-links__link">
      <a href="/admin/users">
        <p>Users</p>
        <svg
          class="text-white mt-3"
          width="7"
          height="11"
          viewBox="0 0 7 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.636364 0.0932203L0.083004 0.565537C-0.027668 0.68983 -0.027668 0.888701 0.083004 0.988136L5.09091 5.48757L0.083004 10.0119C-0.027668 10.1113 -0.027668 10.3102 0.083004 10.4345L0.636364 10.9068C0.774704 11.0311 0.968379 11.0311 1.10672 10.9068L6.917 5.7113C7.02767 5.58701 7.02767 5.41299 6.917 5.2887L1.10672 0.0932203C0.968379 -0.0310734 0.774704 -0.0310734 0.636364 0.0932203Z"
            fill="white"
          />
        </svg>
      </a>
    </li>
    <li class="w-100 btn fs-3 sidebar-links__link">
      <a href="/admin/settings">
        <p>Settings</p>
        <svg
          class="text-white mt-3"
          width="7"
          height="11"
          viewBox="0 0 7 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.636364 0.0932203L0.083004 0.565537C-0.027668 0.68983 -0.027668 0.888701 0.083004 0.988136L5.09091 5.48757L0.083004 10.0119C-0.027668 10.1113 -0.027668 10.3102 0.083004 10.4345L0.636364 10.9068C0.774704 11.0311 0.968379 11.0311 1.10672 10.9068L6.917 5.7113C7.02767 5.58701 7.02767 5.41299 6.917 5.2887L1.10672 0.0932203C0.968379 -0.0310734 0.774704 -0.0310734 0.636364 0.0932203Z"
            fill="white"
          />
        </svg>
      </a>
    </li>
  </ul>
</div>
